.not-lose{
    background-color: #E5E5E5;
    padding: 69px 0 100px;

    &__header{
        font-size: 60px;
        line-height: 75px;
        font-family: "GothamPro";
        font-weight: 500;
        color: var(--mainBackColor);
        max-width: 1094px;
        margin: 0 auto 61px;
        text-align: center;
    }
    picture{
        display: block;
        margin: 0 auto;
        max-width: 1003px;
    }
}