@font-face{
    font-family: "Roboto";
    src: url(../fonts/Roboto-Medium.woff2),
         url(../fonts/Roboto-Medium.woff);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face{
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.woff2),
         url(../fonts/Roboto-Regular.woff);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face{
    font-family: "GothamPro";
    src: url(../fonts/GothamPro-Medium.woff2),
         url(../fonts/GothamPro-Medium.woff);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face{
    font-family: "GothamPro";
    src: url(../fonts/GothamPro-Bold.woff2),
         url(../fonts/GothamPro-Bold.woff);
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face{
    font-family: "GothamPro";
    src: url(../fonts/GothamPro.woff2),
         url(../fonts/GothamPro.woff);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face{
    font-family: "FreigeistWide";
    src: url(../fonts/FreigeistWide-Medium.woff2),
         url(../fonts/FreigeistWide-Medium.woff);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face{
    font-family: "FiraSans";
    src: url(../fonts/FiraSans-Regular.woff2),
         url(../fonts/FiraSans-Regular.woff);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face{
    font-family: "FiraSans";
    src: url(../fonts/FiraSans-Medium.woff2),
         url(../fonts/FiraSans-Medium.woff);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}